.logo {
  float: left;
  top: 0%;
  margin-left: 3%;
  font-weight: 500;
}

.menu {
  float: right;
  margin: 0%;

}

.nav-item a:hover {
  color: rgb(13, 170, 209);
  font-weight: 700;
}

.background {
  background-size: cover;
}

#particles-js {
  width: 100%;
  height: 50vh;
}